body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}



#formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px 8px 20px;
    background: linear-gradient(70deg, rgba(255, 0, 0, 0.534), rgba(255, 0, 43, 0));
    border-radius: 0px 8% /90px;
}

#formulario label {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
    justify-content: flex-start;
    margin: 20px auto;

}

#formulario input {
    box-sizing: border-box;
    border: none;



}

#formulario button {
    font-weight: bold;
    padding: 15px;
    background-color: rgb(211, 0, 0);
    color: #fff;
    border: none;
    border-radius: 60px;
    cursor: pointer;


}

.datos {
    display: flex;
    padding-top: 80px;
    align-items: flex-start;

}

#modelo {
    border-top-right-radius: 6px;
    margin: 30px;
   

}

#marca {
    border-top-right-radius: 6px;
    margin: 30px;
    background-color: #ffffff;
    
}

#ano {
    border-top-right-radius: 6px;
    margin: 30px;
    
}

#motor {
    border-top-right-radius: 6px;
    margin: 30px;
   
}

#datosMostrados {
    display: none;
    justify-content: flex-start;
    margin: 20px auto;
    background-color: #00000027;

}

.datosMostrados2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-color: aqua;
}

#datosMostrados ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}


#listaDatos {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    width: 100%;


}

#datosMostrados li {
    margin: 10px;
}

#listaDatos {
    display: block;
    align-items: flex-start;
    list-style: none;
    padding: 0;

}

#listaDatos li {
    margin-bottom: 10px;
    width: fit-content;
    background-color: #b80909;
    background-size: auto;
    border-radius: 10px;
    /* font-weight: bold; */

}

p {
    margin: 10px;
    color: #fff;


}

h2 {
    display: flex;
    font-size: 30px;
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 10px;
}

.s1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#logoMarca {
    display: flex;
    align-items: flex-end;
    margin-left: 850px;

}