*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.reloj{
    font-family: 'share tech mono', monospace;
    color: #000000;
    text-align: center;
    position: absolute;
left: 50%;
top: 10%;
transform: translate(-50%,-50%);
text-shadow: 0 0 20PX rgb(230, 171, 10),0 0 20px rgb(255, 255, 22);

}
.fecha{
    letter-spacing: 0.1em;
    font-size: 14px;
}
.tiempo{
    letter-spacing: 0.1em;
    font-size: 14px;
}